.page {
  margin: 20px;
}

.page-content {
  display: flex;
}

.page-content-main,
.page-content-side {
  margin-top: 20px;
  margin-right: 20px;
}

.page-content-main {
  width: 70%;
}

.page-content-side {
  width: 30%;
}

.page-header {
  text-align: center;
}

.interactions {
  text-align: center;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin-bottom: 10px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.table-row > span {
  overflow: hidden;
  text-overflow:
  ellipsis; padding: 0 5px;
}

.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit; -webkit-font-smoothing: inherit; padding: 0;
  font-size: inherit;
  cursor: pointer;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38BB6C;
}
